


* {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,span {
	max-width: 90%;
}


h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
	letter-spacing: .2rem;
	font-weight: 300;
	/*text-align: center;*/
}

h5 {
	max-width: 700px;
	font-size: 1.75rem;
	margin: -1rem 0 1rem 0;
	font-weight: 300;
}

p,li {
	font-size: 1.3rem;
	line-height: 1.7rem;
	text-align: left;
	max-width: 750px;
}

a {
	text-decoration: none;
	color: inherit;
}

p a {
	color: #7b8403;
}

p a:hover {
	color: #adc405;
}

h3 a {
	color: #7b8403;
}

h3 a:hover {
	color: #adc405;
}

@media (min-width: 1080px) {

	h1,h2,h3,h4,h5,h6,p,span {
		max-width: 750px;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.2rem;
	}

	h3 {
		font-size: 2rem;
		font-weight: 100;
		letter-spacing: .1rem;
	}

	h5 {
		font-size: 1.5rem;
		margin: -1rem 0 1rem 0;
	}

	p,li {
		font-size: 1.125rem;
		line-height: 1.5rem;
	}
}


