


* {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}


h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 4rem;
	letter-spacing: .2rem;
	font-weight: 300;
	/*text-align: center;*/
}

h5 {
	font-size: 3rem;
	margin-top: -2.5rem;
	font-weight: 300;
}

p {
	font-size: 3.5rem;
	line-height: 4.5rem;
	text-align: left;
	max-width: 750px;
}

a {
	text-decoration: none;
	color: inherit;
}

p a {
	color: #7b8403;
}

p a:hover {
	color: #adc405;
}

h3 a {
	color: #7b8403;
}

h3 a:hover {
	color: #adc405;
}

@media (min-width: 1080px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.2rem;
	}

	h3 {
		font-size: 2rem;
		font-weight: 100;
		letter-spacing: .1rem;
	}

	h5 {
		font-size: 1.5rem;
		margin-top: -30px;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
}


