


.layout__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 0 4rem 0 4rem;
	margin-top: 100px;
}

.layout__header__title-box {
	max-width: 60%;

	/*border: 1px solid red;*/
}

.layout__top-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	/*border: 1px solid red;*/

}

.layout__video-box {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 0 0 0 4rem;
	flex-grow: 10;

	/*border: 1px solid red;*/

}

@media (min-width: 750px) {
	.layout__video-box {
		flex-grow: 6;
	}
}

.layout__campaign-video {
	/*border-top-right-radius: 7px;*/
	/*border-top-left-radius: 7px;*/
	/*border-bottom-right-radius: 9px;*/
	/*border-bottom-left-radius: 9px;*/
	overflow: hidden;
}

.layout__video-button__box {
	display: flex;
	justify-content: left;
	padding: 0;
	margin: 0;
}

@media (min-width: 1080px) {
	.layout__video-button__box {
		margin: 2rem 0;
	}
}

.layout__donate-button {
	padding: .1rem 0;
	/*height: 5rem;*/
	width: 360px;

	border-radius: 7px;
	transition: background-color .3s;
	background-color: lightgreen;
	text-align: center;
}

.layout__donate-button:hover {
	transition: background-color .3s;
	background-color: green;
}
.layout__donate-button-pp {
	opacity: .5;
}

.layout__donate-button-pp:hover {
	opacity: 1;
}

.layout__donate-copy {
	font-weight: 900;
	letter-spacing: 1rem;
	color: white;
}

.layout__campaign-stats {
	margin: 0 2rem;
	/*padding: 32px;*/
	flex-grow: 4;
	/*max-width: 20vw;*/

	border-radius: 7px;
	border: 3px solid lightgrey;
}

@media(min-width: 1080px) {
	.layout__campaign-stats {
		margin: 0 4rem;
		/*padding: 32px;*/
		flex-grow: 4;
		max-width: 20vw;

		border-radius: 7px;
		border: 3px solid lightgrey;
	}
}

.layout__second-box {
	margin-top: 5rem;
}


.layout__small-space {
	margin: 4rem 0;
	text-align: center;
}


.layout__footer__logo {
	display: block;
	margin-top: 450px;
	margin-bottom: 450px;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}

@media(min-width: 1080px) {
	.layout__footer__logo {
		margin-top: 100px;
		height: 60px;
	}
}




