


.posts {
	width: 100vw;
	min-height: 100px;
	padding: 30px 80px;

	background-color: ghostwhite;
}

.post {
	margin: 15px 0;
	max-width: 800px;
	padding: 20px;

	border-radius: 7px;
	border: 3px solid lightslategrey;
	background-color: white;

	transition: height .3s;
}

.post__top-line {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post__toggle {
	height: 24px;
}

.post__trigger-rotated {
	transform: rotate(90deg);
}

.post__title {
	margin: 0 24px;
	font-weight: 700;
}

.post__by-line {
	font-weight: 300;
}

.post__closed {
	display: none;
}

.post__image {
	max-width: 100%;
}